
.frontpage_container{
        position: relative;
        border-right: 3px solid var(--dark-second);
        border-bottom: 3px solid var(--dark-second);
        margin-right: calc(14vw + 6px);
    
    .frontpage_textcontainer{
        position: relative;
        margin-right: 8vw;
        height: calc(100vh - 9px);
        background-color: var(--dark-second);
        -webkit-clip-path: polygon(0 0, 100% 0, 10% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 10% 100%, 0% 100%);

        .frontpage_maintext{
            color: var(--white-main);
            width: 40vw;
            transform: translate(10%, 20%);

            h1{
                font-size: 46px;
                color: var(--green-detail);
                text-shadow: 2px 2px 10px #35ffda;
                font-weight: 400;
                letter-spacing: 2px;
            }
            h2{
                letter-spacing: 1px;
                padding-bottom: 20px;
            }
            p{
                width: 28vw;
            }
        }
        
        .frontpage_cornerdetail{
            position: absolute;
            width: 100px;
            height: 100px;
            top: 0;
            left: 0;
            background-color: var(--green-detail);
            -webkit-clip-path: polygon(0 0, 0% 65%, 100% 0);
            clip-path: polygon(0 0, 0% 65%, 100% 0);
        }
    }
    .frontpage_stack{
        position: absolute;
        right: -3px;
        top: calc(70vh - 6px);
        background-color: var(--dark-second);
        width: 25vw;
        height: 30vh;
        
        ul{ 
            height: 30vh;
            columns: 2;
            padding: 10px 0 0 30px;
            p{
                color: var(--white-main)
            }
        }
    }
}


// Small details

.detail:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(45vw, 60vh) scale(0.6);
}
.detail:nth-child(2){
    position: absolute;
    filter: invert(72%) sepia(63%) saturate(400%) hue-rotate(115deg) brightness(87%) contrast(93%);
    top: 0;
    left: 0;
    transform: translate(50vw, 20vh) scale(0.4);
}
.detail:nth-child(3){
    position: absolute;
    filter: invert(99%) sepia(0%) saturate(73%) hue-rotate(275deg) brightness(88%) contrast(94%);
    top: 0;
    left: 0;
    transform: translate(-1vw, 80vh) scale(0.8);
}
.detail:nth-child(4){
    position: absolute;
    background-color: var(--dark-second);
    width: 30px;
    height: 2px;
    top: 0;
    left: 0;
    transform: translate(70vw, 20vh);
}
.detail:nth-child(5){
    position: absolute;
    background-color: var(--green-detail);
    width: 2px;
    height: 40px;
    top: 0;
    left: 0;
    transform: translate(55vw, 85vh);
}
.detail:nth-child(6){
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20vw, 70vh) scale(0.6);
}
.detail:nth-child(7){
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(78vw, -3vh) scale(0.6) rotate(90deg);
}
.detail:nth-child(8){
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(15vw, 160vh) scale(0.8);
}
.detail:nth-child(9){
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(70vw, 170vh) scale(0.6);
}
.detail:nth-child(10){
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(70vw, 240vh) scale(0.5) rotate(90deg);
}
.detail:nth-child(11){
    position: absolute;
    background-color: var(--dark-second);
    width: 40px;
    height: 3px;
    top: 0;
    left: 0;
    transform: translate(15vw, 250vh);
}
.detail:nth-child(12){
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(80vw, 290vh);
}
.detail:nth-child(13){
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(5vw, 280vh);
}
.detail:nth-child(14){
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(30vw, 303vh);
}
.detail:nth-child(15){
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(5vw, 380vh);
}
.detail:nth-child(16){
    position: absolute;
    background-color: var(--green-detail);
    width: 2px;
    height: 40px;
    top: 0;
    left: 0;
    transform: translate(77vw, 330vh);
}
.detail:nth-child(17){
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(77vw, 390vh);
}
.detail:nth-child(18){
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(40vw, 410vh) scale(0.6);
}
.detail:nth-child(19){
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(35vw, 360vh) scale(0.6);
}
.detail:nth-child(20){
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(75vw, -100vh);
}
.detail:nth-child(21){
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(20vw, -80vh);
}
.detail:nth-child(22){
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(10vw, -20vh);
}
.detail:nth-child(23){
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(60vw, -15vh) scale(0.7);
}
.detail:nth-child(24){
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(75vw, -55vh) scale(0.7);
}

@media screen and (max-width: 1024px) {

    .frontpage_container{
        margin-right: calc(17vw + 6px);
    
        .frontpage_textcontainer{
            margin-right: 6vw;
            clip-path: polygon(0 0, 100% 0, 30% 100%, 0% 100%);

            .frontpage_maintext{
                width: 60vw;
                transform: translate(10%, 10%);
                h1{
                    font-size: 40px;
                }
                p{
                    width: 30vw;
                }
            }
        }
        .frontpage_stack{
            ul{ 
                p{
                    font-size: 13px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    
    .frontpage_container{
        margin-right: calc(20vw + 6px);
        height: calc(100vh - 9px);

        .frontpage_textcontainer{
            margin-right: 6vw;
            clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);

            .frontpage_maintext{
                width: 60vw;
                transform: translate(10%, 20%);

                h1{
                    font-size: 36px;
                }
                p{
                    font-size: 13px;
                    width: 40vw;
                }
            }
        }
        .frontpage_stack{
            top: calc(70vh - 9px);
            width: 30vw;
            ul{ 
                height: 30vh;
                columns: 2;
                padding: 10px 0 0 30px;
                p{
                    
                    color: var(--white-main)
                }
            }
        }
    }
}

@media screen and (max-width: 540px) {

    .frontpage_container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
        position: relative;
        border-right: 0px;
        border-bottom: 0px;
        margin-right: 0;
        background-color: var(--dark-second);
    
        .frontpage_textcontainer{
            position: relative;
            margin-right: 0vw;
            -webkit-clip-path: none;
            clip-path: none;
            height: auto;
            padding-top: 10vh;
            padding-bottom: 15vh;

            .frontpage_maintext{
                width: 80vw;
                transform: 0;

                h1{
                    font-size: 30px;
                }
                p{
                    width: 70vw;
                }
            }
            
            .frontpage_cornerdetail{
                display: none;
            }
        }
        .frontpage_stack{
            position: relative;
            right: 0;
            top: 0;
            background-color: var(--dark-second);
            width: auto;
            height: 20vh;
            padding: 20px;
            
            ul{ 
                height: auto;
                columns: 4;
                padding: 0;
                p{
                    color: var(--white-main)
                }
            }
        }
    }
    .detail:nth-child(odd){
        display: none;
    }
    .detail:nth-child(even){
        display: none;
    }

}

@media screen and (max-width: 320px) {

    .frontpage_container{
        .frontpage_stack{
            ul{ 
                columns: 3;
            }
        }
    }

}