.navbar_container{
    padding: 20px 0 20px 0;
    position: fixed;
    right: 0;
    width: 14vw;
    height: 100vh;
    background-color: var(--dark-second);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    
    .nav-scrollspy{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 180px;
        height: 35vh;

        section{
            margin-left: 20px;
            width: 30px;
            height: 100%;
            justify-content: space-around;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        nav{
            width: 120px;
            height: 100%;
            justify-content: space-around;
            display: flex;
            flex-direction: column; 
        }
    }
    .nav-link{
        color: var(--white-main);
    }
    .nav-cuadrao{
        background-color: var(--white-main);
        display: block;
        text-decoration: none;
        width:10px;
        height: 10px;
        transition: 0.3s all;
      }
    .active{
    color: #42CEB5;
    }
    .activefig{
    transform: rotate(45deg);
    background-color: #42CEB5;
    }

    .navbar_social{
        width: 100%;

        ul{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            
            li{
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        

        img{
            width: 30px;
            transition: 0.3s all;
        }
        img:hover{
            animation-name: pulse;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        @keyframes pulse {
            0%{transform: scale(1);}
            50%{transform: scale(1.1);}
            100%{transform: scale(1);}
        }
    }


}