
.navbar_container{
    padding: 20px 0 20px 0;
    position: fixed;
    right: 0;
    width: 14vw;
    height: 100vh;
    background-color: var(--dark-second);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    .dropdown {
        position: relative;
        display: inline-block;
        z-index: 10;
        
        &_button {
            display: inline-block;
            font-family: "Nunito", sans-serif;
            padding: 10px 40px 10px 20px;
            background: var(--green-detail); 
            font-size: 16px;
            width: 9vw;
            color: #fff;
            border: none;
            cursor: pointer;
          
          &:after {
            position: absolute;
            content: "";
            top: 18px;
            right: 15px;
            border: 6px solid transparent;
            border-color: #fff transparent transparent transparent;
          }
        }
        
        &_menu {
            position: absolute;
            z-index: 5;
            opacity: 0;
            top: 100%;
            left: 0;
            width: 100%;
            background: #fff;
            margin-top: 10px;
            border: 1px solid #F4F5F7;
            transition: 0.2s all ;
            
            &--active {
                opacity: 1;
          }
        }
        
        &_option {
            
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: #000;
            transition: all .2s ease-in-out;
            cursor: pointer;
            
            &:hover {
                background: #F4F5F7;
                padding-left: 20px !important;
            }
            
            &:not(:last-child) {
                border-bottom: 1px solid #F4F5F7;
            }
        }
    }
    
    .nav-scrollspy{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 180px;
        height: 35vh;

        section{
            width: 30px;
            height: 100%;
            justify-content: space-around;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        nav{
            width: 120px;
            height: 100%;
            justify-content: space-around;
            display: flex;
            flex-direction: column; 
        }
    }
    .nav-link{
        color: var(--white-main);
    }
    .nav-cuadrao{
        background-color: var(--white-main);
        display: block;
        text-decoration: none;
        width:10px;
        height: 10px;
        transition: 0.3s all;
      }
    .active{
    color: var(--green-detail);
    }
    .activefig{
    transform: rotate(45deg);
    background-color: var(--green-detail);
    }

    .navbar_social{
        width: 100%;

        ul{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            
            li{
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        img{
            width: 30px;
            transition: 0.3s all;
        }
        img:hover{
            animation-name: pulse;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        @keyframes pulse {
            0%{transform: scale(1);}
            50%{transform: scale(1.1);}
            100%{transform: scale(1);}
        }
    }
}




@media screen and (max-width: 1024px) {
    .navbar_container{
        width: 17vw;
    }
}

@media screen and (max-width: 768px){
    .navbar_container{
        width: 20vw;

        .nav-scrollspy{
            width: auto;
        }
    }
}

@media screen and (max-width: 540px) {

    .navbar_container{
        z-index: 3;
        width: 100vw;
        height: 15vh;
        right: none;
        left: 0;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 2px solid var(--white-main);

        .dropdown {
            &_button {
                width: 20vw;
            }
        }

        
        .nav-scrollspy{
            width: 200px;
            height: auto;
            margin-left: 70px;
    
            section{
                width: 100%;
                flex-direction: row;
            }
            nav{
                position: relative;
                width: 120px;
                height: 100%;
            }
        }
        .nav-link{
            width: 20vw;
            opacity: 0;
            left: 10px;
            position: absolute;
        }
        .active{
            opacity: 1;
            z-index: 4;
        }
    
        .navbar_social{
            display: none;
        }
    }
}