html, body{
    font-family: var(--font-poppins);
    background-color: var(--white-main);
    scroll-behavior: smooth;
}
body{
    overflow-y: scroll;
    position: relative;
}
p{
    font-size: 15px;
}